@import './variables';

.settingBar {
	display: flex;
	align-items: center;
	position: absolute;
	top: $toolbar-height;
	padding: $toolbar-padding;
	height: $toolbar-height;
	width: 100%;

	background-color: white;
	box-shadow: 0 4px 5px gray;

	.labelWidth {
		margin-right: 10px;
	}

	.labelColor {
		margin: {
			right: 10px;
			left: 32px;
		}
	}

	.lineWidth {
		width: 52px;
	}
}